# Project Management Service
NODE_ENV=development
PORT=3002
LOG_LEVEL=debug

# Database
PROJECTS_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db_projects

# NATS
NATS_URL=nats://localhost:4222
